<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>852601189027-75u9uece1fe6llr7p7ktktkm0t6h9048.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.852601189027-75u9uece1fe6llr7p7ktktkm0t6h9048</string>
	<key>API_KEY</key>
	<string>AIzaSyCMbnsYvn1lo2BojAdfhqj6rd6W_t1KWQo</string>
	<key>GCM_SENDER_ID</key>
	<string>852601189027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>KUET.Hospital-Bed-Management</string>
	<key>PROJECT_ID</key>
	<string>hospital-bed-management-9aa3e</string>
	<key>STORAGE_BUCKET</key>
	<string>hospital-bed-management-9aa3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:852601189027:ios:bba731f93d747a95018516</string>
</dict>
</plist>